body {
    font-family: 'Raleway', sans-serif;
    background-color: #d8d8d8e1;
}
h2, p, .readme-wrapper {
    text-align: center;
}
a {
    text-decoration-line: none;
}
.boxes {
    display: block;
    width: 20%;
    margin: 0.2em 1em 0.2em 1em;
    padding: 0.2em 1em 0.2em 1em;
    border: 2px solid rgba(110, 159, 231, 0.904);
    border-radius: 1.5em;
    position: relative;
}
.box-image {
    width: 1em;
    height: 1em;
    background-color: blueviolet;
    position: absolute;
    top: 5%;
    left: 5%;
}
#box1 {
    background-color: burlywood;
}
#box2 {
    background-color: darkcyan;
}
#box3 {
    background-color: lightblue;
}
#box4 {
    background-color: aquamarine;
}
:hover {
    cursor: pointer;
    font-weight: bold;
    color: rgb(17, 96, 160);
}
span {
    font-weight: bold;
    color: rgb(112, 0, 97);
}
h1 {
    color: blueviolet;
}
.header-type1 {
    color: darkgreen;
}
.header-type2 {
    color: darkred;
}
#show1 {
    color: blue;
}
#show2 {
    color: darkslateblue;
}
#show3 {
    color: greenyellow;
}
#show4 {
    color: mediumseagreen;
}
#show5 {
    color: darkorange;
}

ul {
    color: blue
}
.top-5-list {
    color: chocolate;
}



.friend-type1 {
    color: blueviolet;
}
.friend-type2 {
    color: burlywood;
}


.place-type1 {
    color: brown;
}
.place-type2 {
    color: cornsilk;
}


.restaurant-type1 {
    color: lavender;
}
.restaurant-type2 {
    color: aqua
}