body {
    font-family: 'Raleway', sans-serif;
    background-color: #d8d8d8e1;
}
h2, p, .readme-wrapper {
    text-align: center;
}
a {
    text-decoration-line: none;
}
.boxes {
    display: block;
    width: 20%;
    margin: 0.2em 1em 0.2em 1em;
    padding: 0.2em 1em 0.2em 1em;
    border: 2px solid rgba(110, 159, 231, 0.904);
    border-radius: 1.5em;
    position: relative;
}
.box-image {
    width: 1em;
    height: 1em;
    background-color: blueviolet;
    position: absolute;
    top: 5%;
    left: 5%;
}
#box1 {
    background-color: burlywood;
}
#box2 {
    background-color: darkcyan;
}
#box3 {
    background-color: lightblue;
}
#box4 {
    background-color: aquamarine;
}
:hover {
    cursor: pointer;
    font-weight: bold;
    color: rgb(17, 96, 160);
}
span {
    font-weight: bold;
    color: rgb(112, 0, 97);
}
h1 {
    color: blueviolet;
}
.header-type1 {
    color: darkgreen;
}
.header-type2 {
    color: darkred;
}
#show1 {
    color: blue;
}
#show2 {
    color: darkslateblue;
}
#show3 {
    color: greenyellow;
}
#show4 {
    color: mediumseagreen;
}
#show5 {
    color: darkorange;
}

ul {
    color: blue;
}
.top-5-list {
    color: chocolate;
    border: 2px solid black;
}

.friend-type1 {
    color: blueviolet;
}
.friend-type2 {
    color: burlywood;
}
#friend1 {color: slateblue;}
#friend2 {color: royalblue;}
#friend3 {color: tomato;}
#friend4 {color: teal;}
#friend5 {color: yellow;}

.place-type1 {
    color: brown;
}
.place-type2 {
    color: cornsilk;
}
#place1 {color: purple;}
#place2 {color: orchid;}
#place3 {color: navy;}
#place4 {color: mediumseagreen;}
#place5 {color: magenta;}

.restaurant-type1 {
    color: lavender;
}
.restaurant-type2 {
    color: aqua;
}
#restaurant1 {color: seagreen;}
#restaurant2 {color: lightskyblue;}
#restaurant3 {color: mediumpurple;}
#restaurant4 {color: orangered;}
#restaurant5 {color: olivedrab;}